/* Styling for the search screen */

.searchbox > * {
    padding: 8px;
}

.searchbox > #magnifying-glass {
    background: transparent;
    border: 0px;
}

input, button {
    color: inherit;
}

input[type="search"] {
    background-color: inherit;
}